[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/MT121201/mmdetection.git
[submodule "extern/mmsegmentation"]
	path = extern/mmsegmentation
	url = https://github.com/MT121201/mmsegmentation.git
[submodule "mmsegmentation"]
	path = mmsegmentation
	url = https://github.com/MT121201/mmsegmentation.git
